<template>
	<ul
		v-if="selectedArea"
		v-bind:class="[`carPartListing carPartListing--${selectedArea}`]"
	>
		<template v-for="(part, i) in options[selectedArea]">

			<!-- Turbo -->
			<CarPartItem
				v-if="part === 'turbo'"
				:className="part"
				:isSelected="components.turbo"
				:handlerData="{
					name: part,
					value: !components.turbo
				}"
				:title="part"
				:key="i"
			>
				<Turbo />
			</CarPartItem>

			<!-- Airvent -->
			<CarPartItem
				v-if="part === 'airvent'"
				:className="part"
				:isSelected="components.airvent"
				:handlerData="{
					name: part,
					value: !components.airvent
				}"
				:title="part"
				:key="i"
			>
				<Airvent />
			</CarPartItem>

			<!-- Luggage-->
			<CarPartItem
				v-if="part === 'luggage'"
				:className="part"
				:isSelected="components.luggage"
				:handlerData="{
					name: part,
					value: !components.luggage
				}"
				:title="part"
				:key="i"
			>
				<Luggage/>
			</CarPartItem>

			<!-- Doorstrip-->
			<CarPartItem
				v-if="part === 'doorStrip'"
				:className="part"
				:isSelected="components.strips"
				:handlerData="{
					name: 'strips',
					value: !components.strips
				}"
				:title="part"
				:key="i"
			>
				<DoorStrip />
				<DoorStrip />
			</CarPartItem>

			<!-- RoofExtention-->
			<CarPartItem
				v-if="part === 'roofExtention'"
				:className="part"
				:isSelected="components.roofExtention"
				:handlerData="{
					name: part,
					value: !components.roofExtention
				}"
				:title="part"
				:key="i"
			>
				<RoofExtention />
			</CarPartItem>

			<!-- Spoiler-->
			<CarPartItem
				v-if="part === 'spoiler'"
				:className="part"
				:isSelected="components.spoiler"
				:handlerData="{
					name: part,
					value: !components.spoiler
				}"
				:title="part"
				:key="i"
			>
				<Spoiler />
			</CarPartItem>

			<!-- Door -->
			<template v-if="part === 'door'">
				<!-- FourDoor option -->
				<CarPartItem
					:className="part"
					:isSelected="components.fourDoor"
					:handlerData="{
						name: 'fourDoor',
						value: true
					}"
					title="fourdoor"
					:key="'fourdoor-' + i"
				>
					<Door isFourDoor />
					<Door isBackDoor isFourDoor />
				</CarPartItem>
				<!-- TwoDoor option -->
				<CarPartItem
					:className="part"
					:isSelected="!components.fourDoor"
					:handlerData="{
						name: 'fourDoor',
						value: false
					}"
					title="twodoor"
					:key="'twodoor-' + i"
				>
					<Door isFourDoor />
					<Door isBackDoor />
				</CarPartItem>
			</template>

			<!-- Wheel -->
			<template v-if="part === 'wheel'">
				<!-- Solid rim -->
				<CarPartItem
					:className="part"
					:isSelected="components.wheel.solid"
					:handlerData="{
						name: part,
						type: 'solid',
						value: true
					}"
					title="Solid rim"
					:key="'solid-rim-' + i"
				>
					<Wheel v-bind:wheel="{ solid: true, sidewall: false, colored: false }" />
				</CarPartItem>
				<!-- Alloy rim -->
				<CarPartItem
					:className="part"
					:isSelected="!components.wheel.solid"
					:handlerData="{
						name: part,
						type: 'solid',
						value: false
					}"
					title="Alloy rim"
					:key="'alloy-rim-' + i"
				>
					<Wheel v-bind:wheel="{ solid: false, sidewall: false, colored: false }" />
				</CarPartItem>
				<!-- Sidewall -->
				<CarPartItem
					:className="part"
					:isSelected="components.wheel.sidewall"
					:handlerData="{
						name: part,
						type: 'sidewall',
						value: !components.wheel.sidewall
					}"
					title="Tire sidewall"
					:key="'sidewall-' + i"
				>
					<Wheel v-bind:wheel="{ solid: components.wheel.solid, sidewall: true, colored: false }" />
				</CarPartItem>
				<!-- Colored Rim -->
				<CarPartItem
					:className="part"
					:isSelected="components.wheel.colored"
					:handlerData="{
						name: part,
						type: 'colored',
						value: !components.wheel.colored
					}"
					title="Colored rim"
					:key="'colored-' + i"
				>
					<Wheel v-bind:wheel="{ solid: components.wheel.solid, sidewall: components.wheel.sidewall, colored: true }" />
				</CarPartItem>
			</template>

		</template>
	</ul>
</template>

<script>
	import '../styles/index.scss';
	import CarPartItem from '@/02_atoms/carPartItem/scripts';
	import Airvent from '@/02_atoms/airvent/scripts';
	import Door from '@/03_molecules/door/scripts';
	import DoorStrip from '@/02_atoms/doorStrip/scripts';
	import Luggage from '@/03_molecules/luggage/scripts';
	import RoofExtention from '@/02_atoms/roofExtention/scripts';
	import Spoiler from '@/02_atoms/spoiler/scripts';
	import Turbo from '@/02_atoms/turbo/scripts';
	import Wheel from '@/03_molecules/wheel/scripts';

	export default {
		name: 'CarPartListing',

		components: {
			CarPartItem,
			Airvent,
			Door,
			DoorStrip,
			Luggage,
			RoofExtention,
			Spoiler,
			Turbo,
			Wheel
		},

		data: function() {
			return {
				options: this.$store.getters['editor/getState']('options')
			}
		},

		computed: {
			components: function() {
				return this.$store.getters['editor/getState']('components');
			},
			selectedArea: function() {
				return this.$store.getters['editor/getState']('selectedArea');
			}
		}
		// data: function() {
		// 	return {
		// 		options: this.$store.getters['editor/getState']('options'),
		// 		selectedArea: this.$store.getters['editor/getState']('selectedArea'),
		// 	}
		// },
		// data: function() {
		// 	return {
		// 		options: this.$store.getters['editor/getState']('options'),
		// 		selectedArea: this.$store.getters['editor/getState']('selectedArea')
		// 	}
		// },
	}
</script>
