@import '../../../01_fundaments/colors/styles/_settings';

/* Car default component
---------------------------------------------*/
.engine {
	display: grid;
	grid-template-areas: 'airvent'
	'.';
	grid-template-rows: 5rem auto;
	width: 100%;
	background: var(--car--color);
	box-shadow: inset 0 0 0 .15rem color('neutrals-6');

	/* Placement carpart option
	---------------------------------------------*/
	.airvent {
		grid-area: airvent;
		margin: 0 3rem 0 auto;

		align-self: flex-end;
	}
}
