@import '../../../01_fundaments/utilities/styles/_settings';

/* Car default component
---------------------------------------------*/
.wheel {
	display: inline-grid;
	align-items: center;
	grid-template-areas: 'wheel';

	justify-items: center;

	@include keyframes(rotate-wheel) {
		0% {
			transform: translate(0, 0) rotate(0deg);
		}
		50% {
			transform: translate(0, -.4rem) rotate(180deg);
		}
		100% {
			transform: translate(0, 0) rotate(360deg);
		}
	}

	/* Rim & Tyre Placement
	---------------------------------------------*/
	.rim,
	.tire {
		grid-area: wheel;
	}

	/* Rotate wheel Animation
	---------------------------------------------*/
	@at-root .car--moving .wheel {
		@include animation(rotate-wheel 1s linear infinite reverse);
	}
}
