@import '../../../01_fundaments/utilities/styles/_settings';
@import '../../../01_fundaments/colors/styles/_settings';

.car {
	display: inline-grid;
	align-items: flex-end;
	grid-template-areas: 'engineBay passengerArea trunkSpace';

	@include keyframes(moving-car) {
		50% {
			transform: translate(.2rem, -.6rem);
		}
	}

	&:hover {
		.engineBay,
		.passengerArea,
		.trunkSpace {
			opacity: .3;
		}
	}

	.engineBay {
		grid-area: engineBay;

		&:hover {
			opacity: 1;
		}

		@at-root .car--moving .engineBay {
			@include animation(moving-car 1s linear infinite);
		}
	}

	.passengerArea {
		grid-area: passengerArea;

		&:hover {
			opacity: 1;
		}

		@at-root .car--moving .passengerArea {
			@include animation(moving-car 1s linear infinite);
		}
	}

	.trunkSpace {
		grid-area: trunkSpace;

		&:hover {
			opacity: 1;
		}

		@at-root .car--moving .trunkSpace {
			@include animation(moving-car 1s linear infinite);
		}
	}
}
