<template>
	<div class="trunk">
		<img class="trunk__brand" v-bind:src="logo" v-bind:alt="name" />
	</div>
</template>

<script>
	import "../styles/index.scss";
	export default {
		name: "Trunk",
		data: function() {
			return this.$store.getters["app/getState"]("brand");
		}
	}
</script>
