<template>
	<div class="wheel">
		<Tire v-bind="wheel" />
		<Rim v-bind="wheel" />
	</div >
</template>

<script>
	import '../styles/index.scss';
	import Rim from '@/02_atoms/rim/scripts';
	import Tire from '@/02_atoms/tire/scripts';

	export default {
		name: 'Wheel',
		props: {
			wheel: Object
		},
		components: {
			Tire,
			Rim
		}
	};
</script>
