@import '../../../01_fundaments/colors/styles/_settings';

/* Carpart option
---------------------------------------------*/
.doorStrip {
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	width: 80%;
	height: 2rem;
	padding: 0 .5rem;
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	background: var(--car--color);
	box-shadow: inset 0 0 0 .15rem color('neutrals-6');

	filter: brightness(80%);

	/* Inner stripe
	---------------------------------------------*/
	&:before {
		display: block;
		flex: 0 0 90%;
		height: .5rem;
		margin-top: .5rem;
		border-top-left-radius: 2rem;
		border-bottom-left-radius: 2rem;
		background: var(--car--color);
		box-shadow: inset 0 0 0 .15rem color('neutrals-6');
		content: '';

		filter: brightness(150%);
	}

	/* Strip position
	---------------------------------------------*/
	.door--back & {
		justify-content: flex-start;
		border-top-left-radius: 0;
		border-top-right-radius: 2rem;
		border-bottom-right-radius: 2rem;
		border-bottom-left-radius: 0;

		&:before {
			border-top-left-radius: 0;
			border-top-right-radius: 2rem;
			border-bottom-right-radius: 2rem;
			border-bottom-left-radius: 0;
		}
	}
}
