<template>
	<div class="engineBay">
		<Turbo v-if="components.turbo" />
		<Engine v-bind:hasAirvent="components.airvent" />
		<Wheel v-bind:wheel="components.wheel" />
		<Bumper />
		<Editbutton
			area="engineBay"
		/>
	</div>
</template>

<script>
	import '../styles/index.scss';
	import Turbo from '@/02_atoms/turbo/scripts';
	import Bumper from '@/02_atoms/bumper/scripts';
	import Wheel from '@/03_molecules/wheel/scripts';
	import Engine from '@/03_molecules/engine/scripts';
	import Editbutton from '@/02_atoms/button/scripts/Button--edit.vue';

	export default {
		name: 'EngineBay',

		components: {
			Turbo,
			Bumper,
			Wheel,
			Engine,
			Editbutton
		},

		computed: {
			components: function() {
				return this.$store.getters['editor/getState']('components')
			}
		}
	};
</script>
