<template>
	<!-- api error -->
	<p v-if="error">{{error.message}}</p>

	<!-- App -->
	<div v-else id="app">
		<Home v-if="!brand.name && !brand.logo" />
		<Editor v-else />
	</div>
</template>

<script>
	import '../styles/main.scss';
	import Home from '@/05_templates/home/scripts';
	import Editor from '@/05_templates/editor/scripts';

	export default {
		name: 'App',

		components: {
			Home,
			Editor
		},

		data: function() {
			return this.$store.getters['app/getState']();
		},

		mounted: function() {
			fetch('https://car-api.firebaseio.com/rest.json')
			.then(response => {
				if (response.ok) {
					return response.json();
				} else {
					throw new Error('Something went wrong ...');
				}
			})
			.then((brands) => {
				this.$store.commit('app/updateStore', {
					brands: brands,
					isLoading: false
				});
			})
			.catch((error) => {
				this.$store.commit('app/updateStore', {
					error: error,
					isLoading: false
				});
			});
		}
	};
</script>
