@import '../../../01_fundaments/colors/styles/_settings';

/* Carpart option
---------------------------------------------*/
.airvent {
	position: relative;
	width: 4rem;
	height: 2rem;
	overflow: hidden;
	border-radius: 2rem;
	background: var(--car--color);
	box-shadow: inset 0 0 0 .15rem color('neutrals-6');

	filter: brightness(50%);

	/* Arivent stripes
	---------------------------------------------*/
	&:before,
	&:after {
		transform: rotate(-45deg);
		position: absolute;
		display: block;
		width: 6rem;
		height: 1rem;
		border-top: .15rem solid color('neutrals-4');
		border-bottom: .15rem solid color('neutrals-5');
		content: '';
	}

	&:before {
		left: -1.75rem;
	}

	&:after {
		left: .5rem;
	}
}
