<template>

	<!-- api Loading -->
	<div v-if="showLoading" class="home">
		<h1
			v-on:animationend="handleAnimationEnd"
			class="home__title home__title--loading"
		>Loading ...</h1>
	</div>

	<!-- api Loaded -->
	<div v-else class="home">
		<h1 class="home__title">Select your brand of choice:</h1>
		<BrandListing />
	</div>
</template>

<script>
	import '../styles/index.scss';
	import BrandListing from '@/03_molecules/brandListing/scripts';

	export default {
		name: 'Home',

		components: {
			BrandListing
		},

		data: function() {
			return {
				showLoading: this.$store.getters['app/getState']('isLoading')
			}
		},

		// computed: {
		// 	showLoading () {
		// 		console.log(this.$store.getters.getLoading);
		// 		return this.$store.state.isLoading
		// 	}
		// },

		methods: {
			handleAnimationEnd: function() {
				if(!this.$store.getters['app/getState']('isLoading')) {
					this.showLoading = false;
				}
			}
		}
	};
</script>
