<template>
	<button
		type="button"
		v-bind:class="['brand', {'brand--is-selected': isSelected }]"
		v-on:click="handleSelection"
		v-on:transitionend="handleTransitionEnd"
	>
		<img class="brand__logo" v-bind:src="logo" v-bind:alt="name" />
		<p class="brand__name">{{name}}</p>
	</button>
</template>

<script>
	import '../styles/index.scss';

	export default {
		name: 'Brand',

		props: {
			name: String,
			logo: String
		},

		data: function() {
			return {
				isSelected: false
			}
		},

		methods: {
			handleTransitionEnd() {
				this.isSelected && this.$store.commit('app/updateStore', {
					brand: {
						name: this.name,
						logo: this.logo
					}
				});
			},
			handleSelection(event) {
				event.preventDefault();
				this.isSelected = true;
			}
		}
	};
</script>
