@import '../../../01_fundaments/colors/styles/_settings';

/* Default button
---------------------------------------------*/
.button {
	transition: all .3s ease;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: .5rem 2rem;
	color: color('white');
	text-align: center;
	text-decoration: none;
	border: .2rem solid color('brand-1');
	border-radius: .8rem;
	outline: 0;
	background: color('brand-1');
	cursor: pointer;

	/** Hover state
	----------------------------------- */
	&:hover,
	&:visited,
	&:focus {
		box-shadow: 0 0 1rem 0 rgba(color('black'),.26);
	}

	/** Active state
	----------------------------------- */
	&:active {
		color: color('neutrals-3');
		border-color: color('brand-1', darker);
		background: color('brand-1', darker);
		box-shadow: 0 .1rem .2rem 0 rgba(color('black'),.24);
	}
}

/* White button
---------------------------------------------*/
.button--white {
	color: color('text');
	border: .2rem solid color('neutrals-3');
	background: color('white');

	/** Active state
	----------------------------------- */
	&:active {
		border-color: color('neutrals-1', darker);
		background: color('neutrals-1', darker);
	}
}
