<template>
  <div class="car-wrapper">
    <div v-bind:class="[`car ${isMoving ? 'car--moving' : ''}`]">
      <EngineBay />
      <PassengerArea />
      <TrunkSpace />
    </div>
  </div>
</template>

<script>
import "../styles/car.scss";
import "../styles/car-wrapper.scss";
import EngineBay from "@/04_organisms/engineBay/scripts";
import PassengerArea from '@/04_organisms/passengerArea/scripts';
import TrunkSpace from '@/04_organisms/trunkSpace/scripts';

export default {
  name: "Car",

  components: {
	EngineBay,
	PassengerArea,
	TrunkSpace
  },

  data: function () {
    return {
      isMoving: this.$store.getters["editor/getState"]("isMoving"),
    };
  },
};
</script>
