<template>
	<div v-bind:class="[`window ${canOpen ? 'window--can-open' : ''}`]"></div>
</template>

<script>
	import '../styles/index.scss';

	export default {
		name: 'Turbo',
		props: {
			canOpen: Boolean
		}
	};
</script>
