/*
 * Layout mixins
 */




/* ==========================================================================
1. breakpoint
========================================================================== */

@mixin media($size, $limiter: min) {
	// $size: Any key from the $breakpoints list OR Value (ex: 30em)
	// ---------------------------------------------
	// key as breakpoint:   @include media(key) {...}
	// value as breakpoint: @include media(30em) {...}
	// $limiter: min (default), max, only
	// ---------------------------------------------
	// min:  @include media(key) {...}
	// min:  @include media(value) {...}
	// ---------------------------------------------
	// max:  @include media(key, max) {...}
	// max:  @include media(value, max) {...}
	// ---------------------------------------------
	// only: @include media(key, key) {...}
	// only: @include media(value, value) {...}
	/*--------------------------------------------
    - Variables
    ---------------------------------------------*/
	$breakpointsLength: length($breakpoints);


	/*--------------------------------------------
    - Mixin: Non-predefined $size
    ---------------------------------------------*/
	@if type-of($size) != 'string' {
		@if ($limiter == min or $limiter == max) {
			// variables
			$size: emCorrection($size);
			$what: 'min-width';
			// errors
			@if not unitless($size) {
				@error 'Size amount may not have a unit, was #{$size}.';
			}
			@if $limiter == max {
				$what: 'max-width';
			}

			// css
			@media only screen and (#{$what}: $size) {
				@content;
			}
		}
	}


	/*--------------------------------------------
    - Mixin: Predefined $size - Min/Max
    ---------------------------------------------*/
	@else {
		@each $breakpoint, $value in $breakpoints {
			// variables
			$index: index(($breakpoints), ($breakpoint $value));

			// min querie
			@if $limiter == min and $size == $breakpoint {
				@media only screen and (min-width: $value) {
					@content;
				}
			}

			// max querie
			@if $limiter == max and $size == $breakpoint {
				@media only screen and (max-width: $value - .01) {
					@content;
				}
			}
		}
	}


	/*--------------------------------------------
    - Mixin: Only limiter
    ---------------------------------------------*/
	@if ($limiter != min and $limiter != max) {
		// variables
		$minw: $size;
		$maxw: $limiter;

		@if type-of($size) == 'string' {
			$minw: map-get($breakpoints, $size);
		}

		@if type-of($limiter) == 'string' {
			$maxw: map-get($breakpoints, $limiter) - .01;
		}

		// css
		@media only screen and (min-width: $minw) and (max-width: $maxw) {
			@content;
		}
	}
}




/* ================================
2. Make container
=================================== */

// $containerSize: Any key from the $container-sizes list OR Value (ex. 30px)
// $gutterSize: Value (ex. 30px)
// ---------------------------------------------
// @include make-container(key);
// @include make-container(key, value);
// @include make-container(value);
// @include make-container(value, value);

@mixin make-container(
	$containerSize: 'default',
	$gutterSize: $gutter
) {
	// variables
	$theGutter: $gutterSize;
	$theContainer: $containerSize;
	// css

	display: block;
	width: 100%;
	max-width: $theContainer;
	margin: 0 auto;
	padding: 0 $theGutter;
	@if type-of($containerSize) == 'string' {
		$theContainer: map-get($container-sizes, $containerSize);
	}

	// errors
	@if unitless($theContainer) and not $theContainer == 0 {
		@error 'Container size may not be unitless, was #{$theContainer}.';
	}
	@if unitless($theGutter) and not $theGutter == 0 {
		@error 'Gutter size may not be unitless, was #{$theGutter}.';
	}
}


/* ================================
3. Make row
=================================== */

// $gutterSize: Value (ex. 30px)
// ---------------------------------------------
// @include make-row(value);

@mixin make-row(
	$gutterSize: $gutter
) {
	// variables
	$theGutter: $gutterSize;
	// css

	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: #{-$theGutter / 2};
	margin-left: #{-$theGutter / 2};

	// errors
	@if unitless($theGutter) and not $theGutter == 0 {
		@error 'Gutter size may not be unitless, was #{$theGutter}.';
	}
}


/* ================================
4. Make col
=================================== */

// @include make-col($span, $of, $gutterSize);

// $span: Amount of columns to span - Default $columns OR Value (ex. 6)
// $of: Amount of available columns in the row - Default $columns OR Value (ex. 16)
// $gutterSize: Value (ex. 30px)
// ---------------------------------------------
// @include make-col(6);
// @include make-col(4, 16);
// @include make-col(8, 12, 60px);

@mixin make-col(
	$span: $columns, // span column amount
	$of: $columns, // of total columns
	$gutterSize: $gutter
) {
	// variables
	$theGutter: $gutterSize;
	// css

	position: relative;
	flex: 0 0 100% / $of * $span;
	max-width: #{100% / $of * $span};
	padding-right: $theGutter / 2;
	padding-left: $theGutter / 2;

	// errors
	@if $span > $of {
		@error 'A column can\'t overspan the total column amount, was span #{$span} of #{$of} total.';
	}
	@if unitless($theGutter) and not $theGutter == 0 {
		@error 'Gutter size may not be unitless, was #{$theGutter}.';
	}
}


/* ================================
5. Make col auto
=================================== */

// @include make-col-auto($grow, $shrink, $gutterSize);

// $grow: int flex-grow
// $shrink: int flex-shrink
// $gutterSize: Value (ex. 30px)
// ---------------------------------------------
// @include make-col-auto();
// @include make-col(1, 0);
// @include make-col(1, 0, 60px);

@mixin make-col-auto(
	$grow: 0,
	$shrink: 0, // of total columns
	$gutterSize: $gutter
) {
	// variables
	$theGutter: $gutterSize;
	// css

	position: relative;
	flex: $grow $shrink auto;
	width: auto;
	max-width: 100%;
	padding-right: $theGutter / 2;
	padding-left: $theGutter / 2;

	// errors
	@if type-of($grow) == 'string' {
		@error 'Flex-grow must be an integer, was #{$grow}.';
	}
	@if type-of($shrink) == 'string' {
		@error 'Flex-shrink must be an integer, was #{$shrink}.';
	}
	@if unitless($theGutter) and not $theGutter == 0 {
		@error 'Gutter size may not be unitless, was #{$theGutter}.';
	}
}


/* ================================
6. Column minipulations: offset / push / pull
=================================== */

// @include col-offset($offsetAmount, $columnsAmount);

// $offsetAmount: Amount of columns to offset - Default 0
// $columnsAmount: Amount of available columns in the row - Default $columns OR Value (ex. 16)
// ---------------------------------------------
// @include col-offset(4);
// @include col-offset(4, 16);

@mixin col-offset(
	$offsetAmount: 0, // or number
	$columnsAmount: $columns // or number
) {
	// css
	margin-left: 100% / $columnsAmount * $offsetAmount;
	// errors
	@if $offsetAmount > $columnsAmount {
		@error 'A column offset can\'t overspan the total column amount, was offset #{$offsetAmount} of #{$of} total.';
	}
	@if not unitless($offsetAmount) {
		@error 'Offset amount may not have a unit, was #{$offsetAmount}.';
	}
	@if not unitless($columnsAmount) {
		@error 'Columns amount may not have a unit, was #{$columnsAmount}.';
	}
}


// @include col-push($pushAmount, $columnsAmount);

// $pushAmount: Amount of columns to push - Default 0
// $columnsAmount: Amount of available columns in the row - Default $columns OR Value (ex. 16)
// ---------------------------------------------
// @include col-push(4);
// @include col-push(4, 16);

@mixin col-push(
	$pushAmount: 0, // or number
	$columnsAmount: $columns // or number
) {
	// variables
	$push-value: 100% / $columnsAmount * $pushAmount;

	right: auto;
	// css
	left: $push-value;
	@if ( $push-value == 0 ) {
		$push-value: auto;
	}

	// errors
	@if $pushAmount > $columnsAmount {
		@error 'A column push can\'t overspan the total column amount, was push #{$pushAmount} of #{$of} total.';
	}
	@if not unitless($pushAmount) {
		@error 'Push amount may not have a unit, was #{$pushAmount}.';
	}
	@if not unitless($columnsAmount) {
		@error 'Columns amount may not have a unit, was #{$columnsAmount}.';
	}
}


// @include col-pull($pullAmount, $columnsAmount);

// $pullAmount: Amount of columns to pull - Default 0
// $columnsAmount: Amount of available columns in the row - Default $columns OR Value (ex. 16)
// ---------------------------------------------
// @include col-pull(4);
// @include col-pull(4, 16);

@mixin col-pull(
	$pullAmount: 0, // or number
	$columnsAmount: $columns // or number
) {
	// variables
	$pull-value: 100% / $columnsAmount * $pullAmount;
	// css

	right: $pull-value;
	left: auto;
	@if ( $pull-value == 0 ) {
		$pull-value: auto;
	}

	// errors
	@if $pullAmount > $columnsAmount {
		@error 'A column pull can\'t overspan the total column amount, was pull #{$pullAmount} of #{$of} total.';
	}
	@if not unitless($pullAmount) {
		@error 'Pull amount may not have a unit, was #{$pullAmount}.';
	}
	@if not unitless($columnsAmount) {
		@error 'Columns amount may not have a unit, was #{$columnsAmount}.';
	}
}


/* ==========================================================================
Clearfix
========================================================================== */

@mixin clearfix() {
	&::after {
		display: block;
		clear: both;
		content: '';
	}
}
