/**
 *
 * COLORS: GENERAL
 *
 */

:root {
	--car--color: #{color('neutrals-2')};
	--car--color-0: #{color('neutrals-2')};
	--car--color-1: #{color('car-1')};
	--car--color-2: #{color('car-2')};
	--car--color-3: #{color('car-3')};
}

html {
	background-color: color('white');
}

body {
	color: color('text');
	background-color: color('white');
}

::selection {
	color: color('black');
	background: color('neutrals-5');
}

::-moz-selection {
	color: color('black');
	background: color('neutrals-5');
}
