<template>
	<div v-bind:class="[`rim
			${solid ? 'rim--solid' : ''}
			${colored ? 'rim--gold' : ''}
		`]"></div>
</template>

<script>
	import '../styles/index.scss';

	export default {
		name: 'Rim',
		props: {
			solid: Boolean,
			colored: Boolean
		}
	};
</script>
