<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge;">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico">
	<meta name="format-detection" content="telephone=no">
	<meta name="theme-color" content="#000000" />
	<meta name="description" content="Car Customizer created using vue" />
	<title>Kenneth Joris | Car Customizer</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:700">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
	<noscript>You need to enable JavaScript to run this app.</noscript>
	<div id="app"></div>
  </body>
</html>
