@import '../../../01_fundaments/utilities/styles/_settings';
@import '../../../01_fundaments/layout/styles/_settings';

/* Car section - front
---------------------------------------------*/
.engineBay {
	display: inline-grid;
	grid-template-areas: '. turbo'
	'bumper engine'
	'. wheel';
	grid-template-rows: 28rem 14rem 7.5rem;
	grid-template-columns: auto 26rem;
	width: 100%;
	max-width: 28rem;

	/* Component placement
	---------------------------------------------*/
	.engine {
		grid-area: engine;

		align-self: stretch;
	}

	.turbo {
		grid-area: turbo;
		margin: 0 auto;

		align-self: flex-end;
	}

	.wheel {
		grid-area: wheel;
		margin: -7.5rem auto 0;
	}

	.bumper {
		grid-area: bumper;

		align-self: flex-end;
	}

	.button {
		grid-area: engine;
		margin: -5rem auto 0;

		@include media('md') {
			margin-top: -2.5rem;
		}

		@include keyframes(pulsate-button) {
			25% {
				transform: scale(1.1);
			}
			50% {
				transform: scale(1);
			}
		}

		@at-root .engineBay:hover .button {
			@include animation(pulsate-button .75s ease-in-out infinite);
		}
	}
}
