<template>
	<div class="trunkSpace">
		<RoofExtention v-if="components.roofExtention" />
		<Spoiler v-if="components.spoiler" />
		<Trunk />
		<Wheel v-bind:wheel="components.wheel" />
		<Bumper back />
		<Editbutton
			area="trunkSpace"
		/>
	</div>
</template>

<script>
	import "../styles/index.scss";
	import Bumper from '@/02_atoms/bumper/scripts';
	import Wheel from '@/03_molecules/wheel/scripts';
	import Trunk from '@/03_molecules/trunk/scripts';
	import Spoiler from '@/02_atoms/spoiler/scripts';
	import RoofExtention from '@/02_atoms/roofExtention/scripts';
	import Editbutton from '@/02_atoms/button/scripts/Button--edit.vue';

	export default {
		name: "TrunkSpace",

		components: {
			Bumper,
			Wheel,
			Trunk,
			Spoiler,
			RoofExtention,
			Editbutton
		},

		computed: {
			components: function() {
				return this.$store.getters['editor/getState']('components')
			}
		}
	};
</script>
