@import '../../../01_fundaments/colors/styles/_settings';

/* Carpart option
---------------------------------------------*/
.bumper {
	position: relative;
	display: inline-flex;
	align-items: center;
	width: 2rem;
	height: 2rem;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	background: var(--car--color);
	box-shadow: inset 0 0 0 .15rem color('neutrals-6');

	/* Bumber extention
	---------------------------------------------*/
	&:before {
		position: absolute;
		left: -20%;
		display: block;
		width: 90%;
		height: .75rem;
		border-radius: 1rem;
		background: inherit;
		box-shadow: inset 0 0 0 .15rem color('neutrals-6');
		content: '';

		filter: brightness(125%);
	}

	/* Back bumper
	---------------------------------------------*/
	&--back {
		border-top-left-radius: 0;
		border-top-right-radius: 50%;
		border-bottom-right-radius: 50%;
		border-bottom-left-radius: 0;

		&:before {
			left: 30%;
		}
	}
}
