@import '../../../01_fundaments/colors/styles/_settings';

/* Carpart option
---------------------------------------------*/
.spoiler {
	position: relative;
	width: 6rem;
	height: 6rem;
	overflow: hidden;
	background: var(--car--color);
	box-shadow: inset 0 0 0 .15rem color('neutrals-6');

	/* Optical negative radius
	---------------------------------------------*/
	&:before {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		border-bottom-right-radius: 100%;
		background: color('white');
		box-shadow: 0 0 0 .15rem color('neutrals-6');
		content: '';
	}
}
