<template>
	<div class="colorSelection">
		<span>Car color:</span>
		<ul class="colorSelection__listing">
			<li
				v-for="colorOption in colorOptions"
				:key="colorOption.buttonClass"
				class="colorSelection__item"
			>
				<Colorbutton
					v-bind:cssVariable="colorOption.cssVariable"
					v-bind:buttonClass="colorOption.buttonClass"
				/>
			</li>
		</ul>
	</div>
</template>

<script>
	import '../styles/index.scss';
	import Colorbutton from '@/02_atoms/button/scripts/Button--color.vue';

	export default {
		name: 'ColorSelection',

		components: {
			Colorbutton
		},

		data: function() {
			return {
				colorOptions:  [
					{
						cssVariable: '--car--color-0',
						buttonClass: 'car--color-0'
					},
					{
						cssVariable: '--car--color-1',
						buttonClass: 'car--color-1'
					},
					{
						cssVariable: '--car--color-2',
						buttonClass: 'car--color-2'
					},
					{
						cssVariable: '--car--color-3',
						buttonClass: 'car--color-3'
					}
				]
			}
		},
	};
</script>
