<template>
  <div v-bind:class="[`carPartPreview carPartPreview--${selectedArea}`]">
		<div class="carPartPreview__action">
			<Button
				class="button--carPartPreview"
				v-bind:onClick="handleClick"
			>
				Close carpart selection
			</Button>
		</div>
		<Carpartlisting />
	</div>
</template>

<script>
	import '../styles/index.scss';
	import Button from '@/02_atoms/button/scripts/Button.vue';
	import Carpartlisting from '@/03_molecules/carPartListing/scripts';

	export default {
		name: 'CarPartPreview',

		components: {
			Button,
			Carpartlisting
		},

		computed: {
			selectedArea: function() {
				return this.$store.getters['editor/getState']('selectedArea');
			}
		},

		methods: {
			handleClick() {
				this.$store.commit('editor/handleSelectedArea', '');
			}
		}
	}
</script>
