@import '../../../01_fundaments/colors/styles/_settings';
@import '../../../01_fundaments/utilities/styles/_settings';

/* Carpart option - Door sub-component
---------------------------------------------*/
.window {
	position: relative;
	display: inline-flex;
	align-items: flex-end;
	width: 14rem;
	height: 14rem;
	overflow: hidden;
	background: linear-gradient(to bottom, color('neutrals-7'), color('white'), color('white'));

	@include keyframes(window-open) {
		100% {
			height: 10rem;
		}
	}

	/* Glass Panel
	---------------------------------------------*/
	&:before {
		position: relative;
		z-index: 1;
		display: block;
		flex: 1 0 100%;
		height: 14rem;
		background: linear-gradient(-65deg, lightblue, color('white'), lightblue);
		box-shadow: inset 0 0 0 .15rem color('neutrals-6');
		content: '';
	}

	/* Interiour view
	---------------------------------------------*/
	&:after {
		position: absolute;
		top: 1rem;
		left: 2.5%;
		display: block;
		width: 95%;
		height: 14rem;
		border-radius: .5rem;
		background: linear-gradient(65deg, lightblue, color('white'), lightblue);
		box-shadow: inset 0 0 0 .15rem color('neutrals-6');
		content: '';

		align-self: center;
		filter: brightness(60%);
	}

	/* Open window Animation
	---------------------------------------------*/
	&--can-open {
		&:before {
			@include animation(window-open 1s ease-in-out forwards);
		}

		@at-root .door + .door &:before {
			animation-delay: .25s;
		}
	}
}
