<template>
	<div class="luggage">
			<Suitecase size="large" />
			<Suitecase />
			<Suitecase size="small" />
			<RoofRack />
		</div>
</template>

<script>
	import '../styles/index.scss';
	import Suitecase from '@/02_atoms/suitecase/scripts';
	import RoofRack from '@/02_atoms/roofRack/scripts';

	export default {
		name: 'Luggage',
		components: {
			Suitecase,
			RoofRack
		}
	};
</script>
