@import '../../../01_fundaments/layout/styles/_settings';

/* Homepage brandlisting
---------------------------------------------*/
.brandListing {
	display: flex;
	flex: 0 1 auto;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 5rem 0;

	@include media('sm') {
		align-items: stretch;
		flex-direction: row;
		padding: 5rem;
	}

	&__item {
		display: flex;
		flex: 0 0 50%;
		max-width: 50%;
		list-style-type: none;

		@include media('sm') {
			flex: 0 0 33%;
			max-width: 33%;
		}
	}
}
