@import '../../../01_fundaments/colors/styles/_settings';

/* Carpart option
---------------------------------------------*/
.door {
	display: inline-grid;
	align-items: flex-end;
	grid-template-areas: 'window'
	'doorHandle'
	'doorStrip';
	grid-template-rows: 14rem 7rem 7rem;
	max-width: 14rem;
	background: var(--car--color);
	box-shadow: inset 0 0 0 .15rem color('neutrals-6');

	/* Placement & modifications
	---------------------------------------------*/
	.window {
		grid-area: window;
	}

	.doorHandle {
		grid-area: doorHandle;
		margin-top: 2rem;
		margin-right: 1rem;
		margin-left: auto;

		align-self: flex-start;
	}

	.doorStrip {
		grid-area: doorStrip;
		margin-left: auto;

		align-self: center;

		@at-root .door--back .doorStrip {
			margin-right: auto;
			margin-left: 0;
		}
	}
}
