<template>
	<button
		v-on:click="handleClick"
		class="button button--edit"
		type="button"
	>
		<i class="fa fa-wrench"></i>
	</button>
</template>

<script>
	import '../styles/button.scss';
	import '../styles/button--edit.scss';

	export default {
		name: 'Editbutton',

		props: {
			area: String
		},

		methods: {
			handleClick() {
				event.preventDefault();
				this.$store.commit('editor/handleSelectedArea', this.area);
			}
		}
	};
</script>
