<template>
	<button
		type="button"
		v-bind:class="[`button ${className}`]"
		v-on:click="handleClick"
	>
		<slot />
	</button>
</template>

<script>
	import '../styles/button.scss';
	export default {
		name: 'Button',

		props: {
			className: String,
			onClick: Function
		},

		methods: {
			handleClick(event) {
				event.preventDefault();
				!!this.onClick && this.onClick();
			}
		}
	}
</script>
