<template>
	<button
		v-on:click="handleSelectedColor"
		v-bind:class="[`button button--color ${buttonClass}`]"
		type="button"
	>
		<i class="fa fa-paint-brush"></i>
	</button>
</template>

<script>
	import '../styles/button.scss';
	import '../styles/button--color.scss';

	export default {
		name: 'Colorbutton',

		props: {
			cssVariable: String,
			buttonClass: String
		},

		methods: {
			handleSelectedColor(event) {
				event.preventDefault();
				const colorCode = getComputedStyle(document.documentElement).getPropertyValue(this.cssVariable);
				document.documentElement.style.setProperty('--car--color', colorCode);
			}
		}
	};
</script>
