<template>
	<div class="engine">
		<Airvent v-if="hasAirvent" />
	</div>
</template>

<script>
	import '../styles/index.scss';
	import Airvent from '@/02_atoms/airvent/scripts';

	export default {
		name: 'Engine',
		props: {
			hasAirvent: Boolean
		},
		components: {
			Airvent
		}
	};
</script>
