<template>
	<div class="editor">
		<ColorSelection />
		<Car />
		<Road />
		<CarPartPreview v-if="selectedArea"/>
	</div>
</template>

<script>
	import '../styles/index.scss';
	import ColorSelection from '@/03_molecules/colorSelection/scripts';
	import Car from '@/04_organisms/car/scripts';
	import Road from '@/02_atoms/road/scripts';
	import CarPartPreview from '@/04_organisms/carPartPreview/scripts';

	export default {
		name: 'Editor',

		components: {
			ColorSelection,
			Road,
			Car,
			CarPartPreview
		},

		computed: {
			selectedArea: function() {
				return this.$store.getters['editor/getState']('selectedArea');
			}
		},

		created: function () {
			const selectedBrand = this.$store.getters['app/getState']('brand');
			this.$store.commit('editor/setEditorStateByBrand', selectedBrand.name);
		}
	};
</script>
