<template>
	<div v-bind:class="[`door
		${isBackDoor ? 'door--back' : ''}
	`]">
		<Window v-bind:canOpen="!isBackDoor || isFourDoor"/>
		<DoorHandle v-if="!isBackDoor || isFourDoor" />
		<DoorStrip v-if="hasDoorStrips" />
	</div>
</template>

<script>
	import '../styles/index.scss';
	import Window from '@/02_atoms/window/scripts';
	import DoorHandle from '@/02_atoms/doorHandle/scripts';
	import DoorStrip from '@/02_atoms/doorStrip/scripts';

	export default {
		name: 'Door',
		props: {
			isBackDoor: Boolean,
			isFourDoor: Boolean,
			hasDoorStrips: Boolean
		},
		components: {
			Window,
			DoorHandle,
			DoorStrip
		}
	};
</script>
