<template>
	<ul class="brandListing">
		<li v-for="brand in brands" :key="brand.make" class="brandListing__item">
			<Brand v-bind:name="brand.make" v-bind:logo="brand.logoUrl" />
		</li>
	</ul>
</template>

<script>
	import '../styles/index.scss';
	import Brand from '@/02_atoms/brand/scripts';

	export default {
		name: 'BrandListing',

		components: {
			Brand
		},

		data: function() {
			return {
				brands: this.$store.getters['app/getState']('brands')
			}
		}
	};
</script>
