<template>
	<div v-bind:class="[`tire
		${sidewall ? 'tire--sidewall' : ''}
	`]"></div>
</template>

<script>
	import '../styles/index.scss';

	export default {
		name: 'Tire',
		props: {
			sidewall: Boolean
		}
	};
</script>
