<template>
	<div v-bind:class="[`bumper ${back ? 'bumper--back' : ''}`]"></div>
</template>

<script>
	import '../styles/index.scss';

	export default {
		name: 'Bumper',
		props: {
			back: Boolean
		}
	};
</script>
