<template>
	<div v-bind:class="[`suitecase ${size ? 'suitecase--' + size : ''}`]"></div>
</template>

<script>
	import '../styles/index.scss';

	export default {
		name: 'Suitecase',
		props: {
			size: String
		}
	};
</script>
