<template>
	<div class="passengerArea">
		<Luggage v-if="components.luggage" />
		<Door isFrontDoor v-bind:hasDoorStrips="components.strips" v-bind:isFourDoor="components.fourDoor" />
		<Door isBackDoor v-bind:hasDoorStrips="components.strips" v-bind:isFourDoor="components.fourDoor" />
		<Editbutton area="passengerArea" />
	</div>
</template>

<script>
	import "../styles/index.scss";
	import Luggage from "@/03_molecules/luggage/scripts";
	import Door from "@/03_molecules/door/scripts";
	import Editbutton from "@/02_atoms/button/scripts/Button--edit.vue";

	export default {
		name: "PassengerArea",

		components: {
			Luggage,
			Door,
			Editbutton,
		},

		computed: {
			components: function() {
				return this.$store.getters['editor/getState']('components')
			}
		}
	};
</script>
