<template>
	<div v-bind:class="[`road-wrapper ${isMoving ? 'road-wrapper--moving' : '' }`]">
		<div class="road"></div>
	</div>
</template>

<script>
	import '../styles/index.scss';

	export default {
		name: 'Road',

		data: function() {
			return {
				isMoving: this.$store.getters['editor/getState']('isMoving')
			}
		},
	};
</script>
