<template>
	<li
		v-bind:class="[`carPartListing__item carPartListing__item--${className} ${isSelected ? 'is-selected' : ''}`]"
		v-on:click="() => handleClick(handlerData)"
	>
			<slot />
			<p class="carPartListing__title">{{title.toUpperCase()}}</p>
		</li>
</template>

<script>
	import '../styles/index.scss';

	export default {
		name: 'CarPartItem',
		props: {
			className: String,
			isSelected: Boolean,
			handlerData: Object,
			title: String
		},

		methods: {
			handleClick(data) {
				this.$store.commit('editor/handleCarPartsSelection', data);
			}
		}
	};
</script>
